* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: darkslategray;
}



.site-header { 
  background-color: white;
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

.header-container,
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1.5rem;
}



.header-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-title h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-title p {
  color: black;
  font-size: 1.25rem;
}


.main-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn-primary,
.btn-secondary,
.btn-text {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.btn-primary {
  background-color: lightskyblue;
  color: white;
}

.btn-primary:hover {
  background-color: navy;
}

.btn-secondary {
  background-color: white;
  border: 1px solid black;
}

.btn-text {
  padding: 0.5rem;
}

